


# URLS
IAM_URL_OF_ACTIVATION=


# DB
IAM_DB_CONNECTION_STRING=

# RABBITMQ
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_CLIENT_PROVIDED_NAME=
DOMAIN_EVENT_GENERAL_TYPE=

# JWT
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACTIVATE_TOKEN_SECRET=